@charset "UTF-8";

/*共同部分
------------------------------*/
html{
    font-size: 100%;
}

body{
    font-family: "Hiragio Kaku Gothic ProN","Hiragino Sans","BIZ UDPGothic",sans-serif;
    line-height: 1.7;
    color:#432;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*Layout*/
.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center{
    text-align: center;
}

/*抬头*/
.font-english {
    font-family: 'Philosopher'; sans-serif;
    font-weight: normal;
}

.page-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}

.heading-large {
    font-size: 3rem;
    text-align: center;
    margin-bottom: lrem;
}

/*button*/
.btn{
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
}

.btn:hover {
    background-color: #0090aa;
}

/*head
--------------------------------*/

.page-header {
    padding-top:  .5rem;
}

.logo {
    width: 210px;
}

.main-nav{
    display: flex;
    justify-content: center;
    gap: 2.5em;
    font-size: 1.5rem;
    list-style: none;
}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #0bd;
}

.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

.cover-home {
    background-image: url(../images/cover-home-s.webp);
}

.about {
    max-width: 736px;
    padding:0 1.5rem;
    margin: 3rem auto 0;
}

.about p {
    margin-bottom: 3rem;
}

/*footer
--------------------------------*/
.page-footer {
    background-image: url(../images/footer-s.webp);
    background-size: cover;
    background-position: center;
    padding-top: 12rem ;
}
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing:0 ;
}

.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}

.info th{
    text-align: left;
    font-weight:normal;
    padding: lrem;
}

.info td{
    padding: lrem 0;
}

.copyright {
    background-color: #432;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}

/*desktop ver
------------------------------*/
@media (min-width:800px) {
    /*抬头*/
    .page-title {
        font-size: 5rem;
    }
    .heading-large {
        font-size: 4rem;
    }

    /*header*/
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }
    .main-nav {
        font-size: 2rem;
    }

    /*HOEM*/
    .cover-home {
        background-image: url(../images/cover-home-l.webp);
    }
    .about {
        margin:4rem auto 0;
    }

    /*book*/
    .page-footer {
        background-image: url(../images/footer-l.webp);
        padding-top: 12rem;
    }
    .info th {
        padding-left: 2.5rem;
    }
}    
